@import "../../../colors.scss";

.page {
  padding: 0 40px;
  color: $gray-1;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .controls {
    margin: 20px 0 0 0;
  }

  @media (max-width: 600px) {
    padding: 0;
  }

}

.editor {
  background: $grey-11;
  border-width: 1px;
  border-style: solid;
  border-color: $grey-7;
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: $gray-1;
  font-size: 14px;
  line-height: 22px;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  transition: all 0.2s;

  &:hover {
    border-color: $blue-5;
    background-color: $grey-13;
  }

  &:focus, &:focus-within {
    border-color: $blue-6;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
    background-color: $grey-13;
  }
}

.group-start {
  padding-left: 4px;
}

.group-end {
  padding-right: 4px;
}

.pip {
  font-size: larger;
  font-weight: bold;
}

.placeholder {
  color: $grey-7;
}

.calendar {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;

  background-color: $grey-11;
  padding: 4px;
}

.calendar-day-cell {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  cursor: pointer;

  color: $grey-6;

  border-radius: 4px;

  &--today {
    font-weight: bold;
    color: $grey-1;
  }

  &:hover:not(#\9) {
    background-color: $blue-5;
  }

  &--selected {
    background-color: rgba($blue-5, 0.7);
  }

  &--weekend {
    background-color: rgba($red-10, 0.5);

    &.calendar-day-cell--selected {
      background-color: rgba($red-6, 0.5);
    }
  }

  &--tenor {
    border-color: $green-8;
  }

  &--overflow {
    pointer-events: none;
    color: $grey-8;

    &.calendar-day-cell--selected, &.calendar-day-cell--today {
      color: $grey-6;
    }
  }

  &--header {
    pointer-events: none;
  }
}
