.employer {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;

    .company-container {
        flex: 0 0 auto;
        display: flex;
        flex-flow: row;
        gap: 12px;

        padding: 4px 10px;

        background: #000000;

        .company {
            flex: 1 1 auto;

            .activity-scope {
                color: rgba(255, 255, 255, 0.45);

                ul {
                    padding-left: 20px;
                    margin: 0;
                    li {
                        list-style-type: disc;
                    }
                }
            }

            a {
                color: #ffffff;
                text-decoration: none;
            }
        }

        .timeline {
            flex: 0 0 auto;

            p {
                margin: 0;
            }
        }
    }

    .description {
        border-left: 4px solid #001d66;
        padding: 8px 10px;

        a {
            color: rgba(255, 255, 255, 0.45);
        }

        ul {
            padding-left: 20px;
            margin-bottom: 12px;

            li {
                list-style-type: disc;
            }

            ul {
                padding-left: 20px;
                li {
                    list-style-type: circle;
                }
            }
        }
    }
}

